name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ~1.17
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Get dependencies
        run: go mod download
      - name: Test
        run: go test -vet=off ./...
      - name: Check diffs
        # --name-only first for debugging
        run: git diff --name-only && git diff --quiet

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ~1.17
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.47.2
      - name: Check diffs
        # --name-only first for debugging
        run: git diff --name-only && git diff --quiet
